{% extends 'manager/base.html' %} {% load crispy_forms_tags %} {% block main %}
  <div class="content-section">
    <form action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group centered">
        <legend class="mb-4">Log In</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn-char" type="submit">Login</button>
      </div>
    </form>

    <div class="btn-new pt-1">
      <button class="btn-char">
        <a href="{% url 'register' %}">Create new account</a>
      </button>
    </div>
  </div>
{% endblock main %}
