{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- CSS -->
    {% block css_links %}
    <link rel="stylesheet" href="{% static 'manager/style.css' %}">
    {% endblock css_links %}

    {% block css_chars %}
        <link rel="stylesheet" href="{% static 'manager/createChar.css' %}">
    {% endblock css_chars %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'manager/diablo.ico' %}">
    <title>DoNotExpire</title>
</head>

<body>
{% block nav_img %}
<nav class="navbar navbar-expand-lg container container-main">
  <a class="navbar-brand mr-auto ml-auto" href="{% url 'home' %}"><img src="/media/diablo_logo.gif"></a>
</nav>
{% endblock nav_img %}

    <div class="container">
    {% block main %}
    {% endblock main %}
    </div>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    {% block additional_js %}
    <script type="text/javascript" src="{% static 'manager/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'manager/createChar.js' %}"></script>
    {% endblock additional_js %}

</body>
</html>