{% extends 'manager/base.html' %}

{% block main %}
<div class="main">

    <div class="container container-main">
        {% if not user.is_authenticated %}
        <div class="content-section">
        <p>Log in first to access our website. <a href="{% url 'login' %}">Sign in</a></p>
        <p>Do not have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
        {% else %}
        
        <p>Hi, {{ user.username }} <a class="float-right" href="{% url 'logout' %}">Logout</a></p>
        <p>Add new account <a href="{% url 'create-account' %}" style="color:white">Click here</a></p>
        
        {% endif%}

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated and user_accounts %}
            {% for account in user_accounts %}
            <div class="account-box" id="'{{account.id}}'">
                <span class="account-header">
                    {{ account }}: 
                    <a class="float-right del-acc" href="{% url 'delete-acc' pk=account.pk %}">Delete Account</a>
                </span>
                
                <div class="row custom-border-header char-name-label"><h2 id="char-name-label-{{account.id}}">{{ account.name }}</h2></div>
                <div class="row custom-border chars-box">
                {% for char in account.chars.all %}
                    
                        <div class="col col-char clickable" onclick="changeText('{{ char.name }}', '{{account.id}}')" id="{{account.name}}">
                            <div class="char-img"><img src="{{ char.class_image }}"></div>

                            <div class="char-data">
                                {% if char.hardcore == True %}
                                    <span class="hardcore">{{ char.name }}</span><br>
                                {% else %}
                                    {{ char.name }}<br>
                                {% endif %}
                
                                <span class="char-info">Level {{ char.level }} {{ char.char_class }}</span><br>

                                {% if char.expansion == True %}
                                    <span class="expansion">expansion character</span><br>
                                {% endif %}

                                {% if char.last_visited %}
                                    {% if char.expired != True %}
                                        <span class="char-info">Expires in {{ char.expires }} days</span>
                                    {% else %}
                                        <br>
                                        <span class="hardcore">Character expired</span>
                                        <br>
                                    {% endif %}
                                {% endif %}
                                <br>
                                {% if char.expired != True %}
                                <form action="{% url 'update-date' name=char.name %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn-update" type="submit" name="update_date">Update</button>
                                </form>
                                {% endif %}
                            </div>

                        </div>

                    {% if forloop.counter|divisibleby:2 %}
                        <div class="w-100"></div>
                    {% endif %}
                {% endfor %}

                </div>

                <div class="row custom-border-bottom">
                    <div class="col button-box">
                        <form action="{% url 'create-char' account.name %}" method="POST">
                        {% csrf_token %}
                        <button class="btn-char float-left">Create New<br>Character</button>
                        </form>
                    </div> 


                    <div class="col button-box">
                        <form action="" method="POST">
                        {% csrf_token %}
                        <button class="btn-char float-right">Delete <br>Character</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>


</div>
{% endblock main %}