{% extends 'manager/base.html' %}
{% load static %}
{% block css_chars %}
{% endblock css_chars %}

{% block main %}
<div class="main">

    <div class="container container-main">
        {% if not user.is_authenticated %}
        <div class="content-section" style="text-align: center">
            <p>Log in first to access our website. <a href="{% url 'login' %}">Sign in</a></p>
            <p>Do not have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
        {% else %}
        
        <p>Hi, 
          <a href={% url 'profile' %} style="color:white">{{ user.username }}</a> 
          <a class="float-right" href="{% url 'logout' %}">Logout</a>
        </p>
        <p>Add new account <a href="{% url 'create-account' %}" style="color:white">Click here</a></p>
        
        {% endif%}

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated and user_accounts %}
            {% for account in user_accounts %}
            <div class="account-box">
                <div class="account-header">
                    <span>
                        {{ account }}: 
                    </span>
                    <span>
                        <a class="float-right del-acc" href="{% url 'delete-acc' pk=account.pk %}">Delete Account</a>
                    </span>
                </div>
                
                <div class="row custom-border-header char-name-label"><h2 id="char-name-label-{{account.id}}">{{ account.name }}</h2></div>
                <div class="row custom-border chars-box">
                {% for char in account.chars.all %}
                    
                        <div class="col col-char clickable" onclick="changeText('{{ char.name }}', '{{account.id}}')" id="{{account.name}}" data-char="{{ char.name }}">
                            <div class="char-img"><img src="{% get_static_prefix %}{{char.get_class_image}}"></div>

                            <div class="char-data">
                                {% if char.hardcore %}
                                    <span class="hardcore" onclick="createModalOnClick('{{char.name}}')">{{ char.name }}</span><br>
                                {% else %}
                                    <span onclick="createModalOnClick('{{char.name}}')">{{ char.name }}</span><br>
                                {% endif %}
                
                                <span class="char-info">Level {{ char.level }} {{ char.char_class }}</span><br>

                                {% if char.expansion %}
                                    <span class="expansion">Expansion character</span><br>
                                {% endif %}

                                {% if char.ladder %}
                                    Ladder character<br>
                                {% endif %}

                                {% if char.last_visited %}
                                    {% if not char.expired and char.expires > 0 and char.expires <= 60 %}
                                        <span class="char-info">Expires in {{ char.expires }} days</span>
                                    {% elif not char.expired and char.expires > 60 %}
                                    {% else %}
                                        <span class="hardcore">Character expired</span>
                                    {% endif %}
                                {% endif %}

                                {% if not char.expired and char.expires > 0 %}
                                <form action="{% url 'update-date' name=char.name %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn-update" type="submit" name="update_date">Update</button>
                                </form>
                                {% endif %}
                            </div>

                        </div>

                    {% if forloop.counter|divisibleby:2 %}
                        <div class="w-100"></div>
                    {% endif %}
                {% endfor %}

                </div>

                <div class="row custom-border-bottom">
                    <div class="col button-box">
                        <form action="{% url 'create-char' account.name %}" method="POST">
                        {% csrf_token %}
                        <button class="btn-char btn-char-create float-left" data-char-count="{{ account.chars.all.count }}">Create New<br>Character</button>
                        </form>
                    </div> 

                    <div class="col button-box">
                        <input type="hidden" name="char_id" value="" id="{{ account.name }}">
                        <button 
                            class="btn-char btn-char-delete btn-char-disabled float-right" 
                            data-acc="{{ account.name }}" 
                            type="button" 
                            disabled
                            data-toggle="modal" 
                            data-target="#ModalCenter"
                            onclick="setCharDelete(this)">
                            Delete <br>Character
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Delete character modal -->
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-body text-center">
                    Are you sure you want to delete this character? <br>
                    Take Note: This will delete all versions of this character
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn-char btn-left" data-dismiss="modal">No</button>

                    <form action="{% url 'delete_char' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="char_id" value="" id="modal-delete">
                        <button 
                        type="submit" 
                        class="btn-char btn-right"
                        data-acc="{{ account.name }}"
                        >
                          Yes
                        </button>
                    </form>
                </div>
                </div>
            </div>
            </div>
        {% endif %}
    </div>


</div>

<script type="text/javascript">
const setCharDelete = (clicked) => {
    let modal_delete = $('#modal-delete');
    hidden_input = $(clicked).prev();
    char_name = hidden_input.val();
    modal_delete.val(char_name);
}

const getModal = () => document.getElementById('charDetailsModal');

const setModalContent = (html) => getModal().querySelector('.modal-content').innerHTML = html;

const initModal = () => {
    const modal = document.createElement('div');
    modal.classList.add('modal', 'fade');
    modal.setAttribute('id', 'charDetailsModal');
    modal.setAttribute('tabindex', '-1');
    modal.setAttribute('role', 'dialog');
    modal.setAttribute('aria-labelledby', 'charDetailsModalLabel');
    modal.setAttribute('aria-hidden', 'true');
    modal.innerHTML =
        '<div class="modal-dialog" role="document">' +
          '<div class="modal-content"></div>' +
        '</div>';
    document.body.appendChild(modal);
    return modal;
}

const createModalOnClick = (charname) => {
    fetch(`/api/chars/${charname}`, {
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        }
    }).then(
        response => response.json()
    ).then(
        data => {
            let modal = getModal();
            // Init the modal if it hasn't been already.
            if (!modal) modal = initModal();

            const html =
            `<div class="modal-header">
                <h5 class="modal-title" id="charDetailsModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ${JSON.stringify(data)} 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>`;
            setModalContent(html);
            // Show the modal.
            jQuery(modal).modal('show');
        }
    ).catch(err => {console.error(err)})
}
</script>
{% endblock main %}