{% extends 'manager/base.html' %}

{% block main %}
<div class="main">
    <div class="container container-main mt-5">
        {% if not user.is_authenticated %}
        <p>Log in first to access our website. <a href="{% url 'login' %}">Sign in</a></p>
        <p>Do not have an account? <a href="{% url 'register' %}">Sign up</a></p>

        {% else %}
        
        <p>Hi, {{ user.username }} <a class="ml-3" href="{% url 'logout' %}">Logout</a></p>
        
        {% endif%}
    </div>

    <div class="container container-main mt-5">
        {% if user.is_authenticated and user.profile.accounts.all %}
            {% for account in user.profile.accounts.all %}
                <h2>{{ account }}:</h2>
                <div class="row">
                {% for char in account.chars.all %}
                    {% if forloop.counter0|divisibleby:2 and forloop.conter0 != 0 %}
                        <div class="col border border-warning pb-5">
                            <div class="char-img"></div>

                            <div class="char-data">
                                {% if char.hardcore == True %}
                                    <span class="hardcore">{{ char.name }}</span><br>
                                {% else %}
                                    {{ char.name }}<br>
                                {% endif %}
                
                                <span class="char-info">Level {{ char.level }} {{ char.char_class }}</span><br>

                                {% if char.expansion == True %}
                                <span style='color: lime'>expansion character</span>
                                {% endif %}
                            </div>

                        </div>
                    {% else %}
                        <div class="col border border-warning" >

                            <div class="char-img"></div>

                            <div class="char-data">
                                {% if char.hardcore == True %}
                                    <span class="hardcore">{{ char.name }}</span><br>
                                {% else %}
                                    {{ char.name }}<br>
                                {% endif %}

                                <span class="char-info">Level {{ char.level }} {{ char.char_class }}</span><br>
                            
                                {% if char.expansion == True %}
                                <span style='color: lime'>expansion character</span>
                                {% endif %}
                            </div>

                        </div>

                        <div class="w-100"></div>
                    {% endif %}
                {% endfor %}

                <!-- JUST FOR TESTS -->
                {% comment %} <div class="col border border-warning pb-5" >next</div>
                <div class="col border border-warning" >next</div>
                <div class="w-100"></div>

                <div class="col border border-warning pb-5" >next</div>
                <div class="col border border-warning" >next</div>
                <div class="w-100"></div>

                <div class="col border border-warning pb-5" >next</div>
                <div class="col border border-warning" >next</div>
                <div class="w-100"></div> {% endcomment %}
                </div>

                <div class="row mt-2">
                    <div class="col button-box"><button class="btn-char">Create Character</button></div> 
                    <div class="col button-box"><button class="btn-char">Delete Character</button></div>
                </div>
            {% endfor %}
        {% endif %}
    </div>


</div>
{% endblock main %}