@font-face {
  font-family: "Diablo Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Diablo Heavy"), url("../fonts/diablo.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Diablo Heavy";
  color: rgb(181, 161, 15);
}

body {
  background-color: black;
}

.navbar-brand img {
  height: 90px;
}

.col {
  padding: 0;
  max-width: 50%;
}

.row.chars-box {
  max-height: 620px;
  overflow-y: scroll;
  /* This works for now but there are issues:
    1. char-box doesn't look good on 620px height because of boostrap vertical stretch
    2. scroll could be customized and look like the one from Diablo II 
    maybe JS or Jquery can be used there to fix this
    */
}

.account-header {
  font-size: 24px;
}

.content-section {
  margin-top: 50px;
  background: inherit;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-section.register {
  margin-top: 0;
}

input,
input:focus {
  box-shadow: none !important;
}

.btn-char {
  color: black;
  font-size: 1.5em;
  padding: 2px 15px 2px 15px;
  /* Custom border */
  border-width: 5px 32px 5px 32px;
  border-style: solid;
  border-image-source: url("../images/diablo_button.jpg");
  border-image-slice: 5 32 5 32 fill;
  border-image-repeat: stretch;
  background: none;
}

.btn-char-disabled {
  border-image-source: url("../images/diablo_button_disabled.jpg") !important;
}

.btn-update {
  color: white;
  background-color: black;
  border: 0.5px solid rgb(38, 36, 36);
  padding: 1px 2px 1px 2px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.account-box {
  margin-top: 30px;
  margin-bottom: 200px;
}

.del-acc,
.del-acc:hover {
  color: red;
}

.hardcore {
  color: red !important;
}

.expansion {
  color: lime;
}

.custom-border {
  border-width: 1px 1px 13px 1px;
  border-style: solid;
  border-image-source: url("../images/diablo_border.jpg");
  border-image-slice: 1 1 13 1;
}

.custom-border-header {
  border-width: 2px 62px 16px 62px;
  border-style: solid;
  border-image-source: url("../images/diablo_header.jpg");
  border-image-slice: 2 62 16 62;
}

.custom-border-bottom {
  background: url("../images/diablo_bottom.jpg");
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 100%;
}

.char-name-label {
  justify-content: center;
  padding: 12px 0 12px 0;
  height: 80px;
}

.row {
  background-color: rgb(4, 4, 4);
}

.clickable {
  cursor: pointer;
}

.border-yellow {
  /* Used in JQuery to highlight the selected char */
  border: 0.5px solid rgb(216, 206, 133) !important;
}

.char-info {
  color: white;
}

.char-data {
  padding-top: 10px;
}

.char-img {
  height: 100%;
  width: 30%;
  float: left;
}

.char-img > img {
  padding: 30px;
  height: 100%;
}

fieldset.form-group.centered {
  margin-right: 300px;
  margin-left: 300px;
}

.form-group > .btn-char,
.btn-new > .btn-char,
.btn-sign-in > .btn-char {
  width: 40%;
  height: 50px;
}

.modal-content {
  background: linear-gradient(to top right, #030303 0%, #121212 100%);
  border: 2px solid rgb(121, 109, 18);
}

.modal-body {
  color: white !important;
  text-align: center;
  padding: 50px 5px 50px 5px;
}

.modal-buttons {
  padding: 0 20px 10px 20px;
  font-size: 12px;
}

.content-section.create-acc {
  display: inline-block;
  text-align: left;
  margin-top: 150px;
}

.create-acc-buttons {
  margin-top: 10px;
  padding: 0 20px 10px 20px;
  font-size: 14px;
}

.create-acc-buttons button.btn-char {
  margin: 10px;
}

button.btn-left {
  float: left;
}

button.btn-right {
  float: right;
}

select,
select option {
  background-color: black;
}

.container-inputs div.row {
  margin: 5px;
  background-color: inherit;
}

.container-inputs input {
  padding: 2px;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Profile page */
.account-table {
  margin-bottom: 100px;
  margin-top: 20px;
}

.account-table > .table {
  background-color: #0a0a0a;
}

.pagination a {
  color: white;
}

.pagination a:hover {
  color: red;
  transition: all 0.2s;
}

/* MEDIA QUERRIES */
@media (min-width: 991px) {
  .container-main {
    padding-left: 125px;
    padding-right: 125px;
  }

  .col-char {
    height: 150px;
  }
}

@media (max-width: 767px) {
  .char-data {
    padding-left: 80px;
    padding-top: 5px;
    font-size: 0.9em;
  }

  .account-header {
    font-size: 18px;
  }

  .char-img {
    padding-left: 10px;
  }

  .char-img > img {
    padding: 15px 10px 10px 10px;
    min-height: 60px;
    max-height: 80px;
  }

  .btn-char {
    padding: 1px 5px 1px 5px;
    font-size: 1.25em;
  }

  .btn-new > button.btn-char {
    height: 80px;
  }
}

@media (max-width: 991px) {
  fieldset.form-group.centered {
    margin-right: 125px;
    margin-left: 125px;
  }
  /* button size and textwrap should be adjusted */
}

@media (max-width: 1200px) {
  button.btn-char {
    padding: 0;
    font-size: 20px;
    line-height: normal;
  }
}

@media (max-width: 500px) {
  /* Home page */
  .account-box {
    margin: 0;
    margin-bottom: 50px;
  }

  .account-header {
    font-size: 14px;
  }

  .char-name-label > h2 {
    font-size: 1.6rem;
  }

  a.float-right {
    float: unset;
  }

  .char-img {
    padding-left: 0;
  }

  .char-img > img {
    padding: 10px 5px 5px;
    height: 60%;
  }

  .char-data {
    padding: 5px 0 0 50px;
    font-size: 12px;
  }

  button.btn-char {
    font-size: 14px;
  }

  .form-group > .btn-char,
  .btn-new > .btn-char,
  .btn-sign-in > .btn-char {
    width: 70%;
    font-size: 18px;
  }

  fieldset.form-group.centered {
    margin-left: 0;
    margin-right: 0;
  }

  /* Profile */
  .account-table .account-table-header {
    text-align: left;
  }
}

@media (max-width: 380px) {
  .char-img > img {
    height: 45%;
  }

  .account-header {
    display: inline-flex;
  }

  a.del-acc {
    text-align: right;
  }

  .char-data {
    padding: 5px 0 0 50px;
    font-size: 11px;
  }

  button.btn-char.btn-char-create,
  button.btn-char.btn-char-delete {
    font-size: 10.5px;
  }
}
