@font-face {
    font-family: 'Diablo Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Diablo Heavy'), url('diablo.woff') format('woff');
}

*
{
    padding: 0;
    margin: 0;
    font-family: 'Diablo Heavy';
    color: rgb(181, 161, 15);
}

body {
    background-color: black;
}

.navbar-brand img {
    height: 90px;
}

.col {
    padding: 0;
    max-width: 50%;
}

.row.chars-box {
    max-height: 620px;
    overflow-y: scroll;
    /* This works for now but there are issues:
    1. char-box doesn't look good on 620px height because of boostrap vertical stretch
    2. scroll could be customized and look like the one from Diablo II 
    maybe JS or Jquery can be used there to fix this
    */
    
}

.account-header {
    font-size: 24px;
}

.content-section {
    margin-top: 50px;
    background: inherit;
    padding: 10px 20px;
    border: 1px solid #ff1900;
    border-radius: 3px;
    margin-bottom: 20px;
}

.btn-char {
    color: black;
    font-size: 1.5em;
    padding: 2px 15px 2px 15px;

    border-width: 5px 32px 5px 32px;
    border-style: solid;
    border-image-source: url(/media/diablo_button.jpg) !important;
    border-image-slice: 5 32 5 32 fill;
    border-image-repeat: stretch;
    background: none;
}

.btn-update {
    color: white;
    background-color: black;
    border: 0.5px solid rgb(38, 36, 36);
    padding: 1px 2px 1px 2px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.account-box {
    margin-top: 30px;
    margin-bottom: 200px;
}

.del-acc, .del-acc:hover {
    color: red;
}

.hardcore {
    color: red !important;
}

.expansion {
    color: lime
}

.custom-border {
    border-width: 1px 1px 13px 1px;
    border-style: solid;
    border-image-source: url(/media/diablo_border.jpg);
    border-image-slice: 1 1 13 1;
}

.custom-border-header {
    border-width: 2px 62px 16px 62px;
    border-style: solid;
    border-image-source: url(/media/diablo_header.jpg);
    border-image-slice: 2 62 16 62;
}

.custom-border-bottom {
    background: url(/media/diablo_bottom.jpg);
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: 100%;
}

.char-name-label {
    justify-content: center;
    padding: 12px 0 12px 0;
    height: 80px;
}

.row {
    background-color: rgb(4, 4, 4);
}

.col-char:hover {
    border: 0.5px solid rgb(216, 206, 133);
}

.char-info {
    color: white;
}

.char-data {
    padding-top: 10px;
}

.char-img {
    height: 100%;
    width: 30%;
    float: left;
}

.char-img > img {
    padding: 30px;
    height: 100%;
}


/* MEDIA QUERRIES */
@media (min-width: 991px) {
    .container-main {
        padding-left: 125px;
        padding-right: 125px
    }

    .col-char {
        height: 150px;
    }
}

@media (max-width: 777px) {
    .char-data {
        padding-left: 80px;
        font-size: 0.9em;
    }

    .account-header {
        font-size: 18px;
    }

    .char-img > img {
        padding: 20px 15px 15px 15px;
        height: 70%;
    }

    .btn-char {
        padding: 1px 5px 1px 5px;
        font-size: 1.25em;
    }
}
