@font-face {
    font-family: 'Diablo Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Diablo Heavy'), url('diablo.woff') format('woff');
}

*
{
    padding: 0;
    margin: 0;
    font-family: 'Diablo Heavy';
    color: rgb(209, 185, 0);
}

body {
    /* background-color: rgb(24, 23, 23); */
    background-color: black;
}

.col {
    padding: 0;
}

.content-section {
    margin-top: 20px;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.button-box {
    padding-top: 5px;
}

.btn-char {
    color: black;
    background-color: #464646;
    font-size: 1.5em;
    padding: 2px 15px 2px 15px;
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid rgb(209, 185, 0);;
}

.btn-update {
    color: white;
    background-color: black;
    border: 0.5px solid rgb(38, 36, 36);
    padding: 1px 2px 1px 2px;
}

a {
    color: white;
    font-weight: 600;
}

a:hover {
    color: red;
    text-decoration: none;
    transition: all 0.5s;
}

.hardcore {
    color: red !important;
}

.expansion {
    color: lime
}

.char-name-label {
    justify-content: center;
    padding: 7px 0 7px 0;
}

.char-info {
    color: white;
}

.char-data {
    padding-left: 125px;
}

@media (min-width: 766px) {
    .container-main {
        padding-left: 125px;
        padding-right: 125px
    }
}
